/* Main Elements */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
}

.container {
  background-color: grey;
  margin: 0 auto;
}

header {
  width: 100%;
  min-height: 42rem;
  float: right;
  padding-top: 10rem;
  text-align: center;
}

article.heading {
  position: relative;
  width: 100%;
  height: 9rem;
  float: right;
  padding-left: 3rem;
}

article.LogosCA {
  position:fixed;
  width: 100%;
  height: 9rem;
  float: center;
  padding-left: 3rem;
  background-repeat: no-repeat;
}

article.spacer {
  width: 100%;
  height: 9rem;
  float: right;
}

article.latest {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-position: bottom;
  position: relative;
  width: 94%;
  margin: 1%;
  margin-bottom: 4%;
  padding-top: 94%;
  float: left;
  left: 1.2rem;
  text-align: center;
  box-shadow: 1rem 1rem 3rem 0 rgba(0,0,0,0.5);
}

article.process {
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: right;
  background-position: top;
  position: relative;
  width: 100%;
  padding-top: 100%;
  float: left;
}

article.myriadimage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-position: center;
  position: relative;
  width: 100%;
  padding-top: 60%;
  float: bottom;
}

footer {
  background-color: #302D2D;
  width: 100%;
  min-height: 11rem;
  float: left;
  padding-top: 5rem;
}

h1 {
  font-family: League Spartan;
  text-align: center;
  line-height: 6.1rem;
  font-size: 6rem;
  letter-spacing: 0.05rem;
}

h1.footer {
  font-family: League Spartan;
  text-align: left;
  font-size: 6.2rem;
  letter-spacing: 0.05rem;
  padding-left: 3.2rem;

  color: white;
}

h1.process {
  position: absolute;
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  line-height: 6.8rem;
  font-size: 3.6rem;
  letter-spacing: 0.05rem;
  padding-left: 3.2rem;
  top: 3.2rem;

  color: black;
}

h1.who {
  position: absolute;
  text-align: left;
  padding-left: 3.2rem;
  top: 3.2rem;

  color: #302D2D;
}

h2 {
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  line-height: 6.1rem;
  font-size: 3.6rem;
  letter-spacing: 0.05rem;
}

h2.heading {
  position: absolute;
  top: 0;
}

h2.process {
  position: absolute;
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  line-height: 2.8rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  padding-left: 3.2rem;
  top: 9rem;

  color: #8a8686;
}

h2.email {
  font-family: Mukta;
  text-align: right;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  font-size: 2.4rem;
  letter-spacing: 0.05rem;
  padding-right: 3.2rem;

  color: white;
}

h3 {
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  line-height: 8rem;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

p.process {
  position: absolute;
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  line-height: 2rem;
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  top: 16rem;
  color: black;
}

p.explain {
  position: absolute;
  font-family: Mukta Mahee;
  font-style: normal;
  font-weight: bold;
  line-height: 3.9rem;
  font-size: 2,5rem;
  letter-spacing: 0.15rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  top: 16rem;
  color: black;

}

img.arrow {
  padding-top: 2rem;
}

img.social {
  float: right;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

img.stroke {
  position: relative;
  top: 0.5rem;
  left: -0.7rem;
}

/* Media Query iPad 768px */
@media (min-width: 768px) {
  header {
    min-height: 60rem;
    padding-top: 20rem;
  }

  h1.process {
    line-height: 6.8rem;
    padding-left: 3.2rem;
    top: 3.2rem;
  }

  h2.process {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    top: 9rem;
  }

  p.process {
    /* line-height: 2.8rem; */
    /* font-size: 1.8rem; */
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    top: 16rem;
  }

  article.heading {
    width: 100%;
    float: right;
    padding-left: 10rem;
  }

  article.latest {
    width: 46.2%;
    margin: 0.8%;
    padding-top: 46.2%;
    left: 3rem;
  }

  article.process {
    width: 50%;
    padding-top: 50%;
    float: left;
    /* overflow: hidden; */
  }

  footer {
    width: 50%;
    min-height: 22.6rem;
    padding-top: 6rem;
  }

  h1.footer {
    padding-left: 5.2rem;
  }

  img.arrow {
    padding-top: 15rem;
  }
}

/* Media Query Desktop 1008px */
@media (min-width: 1008px) {
  header {
    min-height: 60rem;
    padding-top: 20rem;
  }

  h1.process {
    line-height: 6.8rem;
    padding-left: 3.2rem;
    top: 3.2rem;
  }

  h2.process {
    padding-left: 3.2rem;
    padding-right: 15rem;
    top: 9rem;
  }

  p.process {
    line-height: 2.8rem;
    font-size: 1.8rem;
    padding-left: 3.2rem;
    padding-right: 15rem;
    top: 16rem;
  }

  article.heading {
    width: 100%;
    float: right;
    padding-left: 10rem;
  }

  article.latest {
    width: 46.2%;
    margin: 0.8%;
    padding-top: 46.2%;
    left: 3rem;
  }

  article.process {
    width: 50%;
    padding-top: 50%;
    float: left;
  }

  footer {
    width: 50%;
    min-height: 22.6rem;
    padding-top: 6rem;
  }

  h1.footer {
    padding-left: 5.2rem;
  }

  img.arrow {
    padding-top: 15rem;
  }
}
